---
layout: page
title: Tags
---

<section class="tag-list">
    {% for tag in site.tags reversed %}
        {% assign t = tag | first %}
        {% assign posts = tag | last %}

        <h3>{{ t | downcase }}</h3>

        <ul>
        {% for post in posts %}
            {% if post.tags contains t %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}

</section>
